body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

/*=====================================================Headers=======================================================*/

header {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d2ff52+0,91e842+100;Neon */
    background: #d2ff52; /* Old browsers */
    background: -moz-linear-gradient(top, #d2ff52 0%, #91e842 100%); /* FF3.6-15 */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d2ff52), color-stop(100%,#91e842)); /* Chrome4-9,Safari4-5 */
    background: -webkit-linear-gradient(top, #d2ff52 0%,#91e842 100%); /* Chrome10-25,Safari5.1-6 */
    background: -o-linear-gradient(top, #d2ff52 0%,#91e842 100%); /* Opera 11.10-11.50 */
    background: -ms-linear-gradient(top, #d2ff52 0%,#91e842 100%); /* IE10 preview */
    background: linear-gradient(to bottom, #d2ff52 0%,#91e842 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842',GradientType=0 ); /* IE6-9 */
    
    width: 100%;
    height: 100px;
    text-align: center;                        
}

#HB {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4a7d6+1,351c75+77 */
    background: rgb(180,167,214); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(180,167,214,1) 1%, rgba(53,28,117,1) 77%); /* FF3.6-15 */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(180,167,214,1)), color-stop(77%,rgba(53,28,117,1))); /* Chrome4-9,Safari4-5 */
    background: -webkit-linear-gradient(top, rgba(180,167,214,1) 1%,rgba(53,28,117,1) 77%); /* Chrome10-25,Safari5.1-6 */
    background: -webkit-linear-gradient(top, rgba(180,167,214,1) 1%,rgba(53,28,117,1) 77%); /* Chrome10-25,Safari5.1-6 */
    background: -o-linear-gradient(top, rgba(180,167,214,1) 1%,rgba(53,28,117,1) 77%); /* Opera 11.10-11.50 */
    background: -ms-linear-gradient(top, rgba(180,167,214,1) 1%,rgba(53,28,117,1) 77%); /* IE10 preview */
    background: linear-gradient(to bottom, rgba(180,167,214,1) 1%,rgba(53,28,117,1) 77%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4a7d6', endColorstr='#351c75',GradientType=0 ); /* IE6-9 */
}

#HM {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefcea+0,ffff00+100 */
    background: #fefcea; /* Old browsers */
    background: -moz-linear-gradient(top, #fefcea 0%, #f1c232 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fefcea 0%,#f1c232 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fefcea 0%,#f1c232 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1c232',GradientType=0 ); /* IE6-9 */
}

#HQ {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#499bea+0,0b5394+100 */
    background: #499bea; /* Old browsers */
    background: -moz-linear-gradient(top, #499bea 0%, #0b5394 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #499bea 0%,#0b5394 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #499bea 0%,#0b5394 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#0b5394',GradientType=0 ); /* IE6-9 */
}

#HJ {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cdeb8e+0,6aa84f+100 */
    background: #cdeb8e; /* Old browsers */
    background: -moz-linear-gradient(top, #cdeb8e 0%, #6aa84f 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #cdeb8e 0%,#6aa84f 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #cdeb8e 0%,#6aa84f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#6aa84f',GradientType=0 ); /* IE6-9 */
}

#HBK { 
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2825b+0,e55b2b+50,cc0000+100 */
    background: #f2825b; /* Old browsers */
    background: -moz-linear-gradient(top, #f2825b 0%, #e55b2b 50%, #cc0000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f2825b 0%,#e55b2b 50%,#cc0000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f2825b 0%,#e55b2b 50%,#cc0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2825b', endColorstr='#cc0000',GradientType=0 ); /* IE6-9 */
}
                    
header>h1 {
    font-family: verdana;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 60px;
                        
    text-shadow: 2px 2px #666666;
}

/*=====================================================Nav===========================================================*/
                     
ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: #333;
    border-bottom: 3px solid #000000;
    border-top: 2px solid #000000;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #91e842;
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;                        
}

li .Ba:hover:not(.active) {
    background-color: #351c75;
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;                    
}

li .Ma:hover:not(.active) {
    background-color: #f1c232;
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
}

li .Qa:hover:not(.active) {
    background-color: #0b5394;
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
}

li .Ja:hover:not(.active) {
    background-color: #6aa84f;
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
}

li .BKa:hover:not(.active) {
    background-color: #cc0000;
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
}
                    
li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    -webkit-box-shadow: 0px 11px 45px -1px rgba(0,0,0,0.69);
    -moz-box-shadow: 0px 11px 45px -1px rgba(0,0,0,0.69);
    box-shadow: 0px 11px 45px -1px rgba(0,0,0,0.69);               
}

.dropdown-content a {
    color: white;
    background-color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
                        
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
}

.dropdown-content a:hover {
    background-color: #91e842;
}

.dropdown-content .Ba:hover {
    background-color: #91e842;
}

.dropdown-content .Ma:hover {
    background-color: #f1c232;
}

.dropdown-content .Qa:hover {
    background-color: #0b5394;
}

.dropdown-content .Ja:hover {
    background-color: #6aa84f;
}

.dropdown-content .BKa:hover {
    background-color: #cc0000;
}

.dropdown:hover .dropdown-content {
    display: block;
                        
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
}

/*=====================================================Main==========================================================*/
                    
main{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0e0e0+2,3f3f3f+100 */
    background: rgb(224,224,224); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(224,224,224,1) 2%, rgba(63,63,63,1) 100%); /* FF3.6-15 */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgba(224,224,224,1)), color-stop(100%,rgba(63,63,63,1))); /* Chrome4-9,Safari4-5 */
    background: -webkit-linear-gradient(top, rgba(224,224,224,1) 2%,rgba(63,63,63,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: -o-linear-gradient(top, rgba(224,224,224,1) 2%,rgba(63,63,63,1) 100%); /* Opera 11.10-11.50 */
    background: -ms-linear-gradient(top, rgba(224,224,224,1) 2%,rgba(63,63,63,1) 100%); /* IE10 preview */
    background: linear-gradient(to bottom, rgba(224,224,224,1) 2%,rgba(63,63,63,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#3f3f3f',GradientType=0 ); /* IE6-9 */
                        
    height: 740px;
    width: 100%;
    padding-top: .5px;
    padding-bottom: .5px;
}

.top-container {
    display: grid;
    grid-template-columns: 915px auto;
    margin-top: 20px;
    padding: 20px;
}

.bottom-container {
    display: grid;
    grid-template-columns: 915px auto;
    margin-top: 20px;
    padding: 20px;
}

#left {
       
}

#right {
    margin-left: 20px;
}

/*=====================================================Home==========================================================*/
.Home {
    height: 1100px;
}


main>h1 {
    text-align: center;
    margin-top: 40px;
    font-size: 80px;
    font-family: verdana;
}

main>h2 {
    text-align: center;
    font-size: 40px;
    font-family: verdana;
    color: #91e842;
}

.ImgsContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: auto;
    margin-right: auto;
}

figure{
}

#first{
}

#second{
}

#third{
}

figcaption{
    text-align: center;
    font-family: verdana;
    color: #91e842;
    font-size: 22px;
    width: 100%;
}

.icon{
    width: 100%;
}

/*=======================================================Tracker=======================================================*/

main.Trackerpage{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0e0e0+2,3f3f3f+100 */
    background: rgb(224,224,224); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(224,224,224,1) 2%, rgba(63,63,63,1) 100%); /* FF3.6-15 */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgba(224,224,224,1)), color-stop(100%,rgba(63,63,63,1))); /* Chrome4-9,Safari4-5 */
    background: -webkit-linear-gradient(top, rgba(224,224,224,1) 2%,rgba(63,63,63,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: -o-linear-gradient(top, rgba(224,224,224,1) 2%,rgba(63,63,63,1) 100%); /* Opera 11.10-11.50 */
    background: -ms-linear-gradient(top, rgba(224,224,224,1) 2%,rgba(63,63,63,1) 100%); /* IE10 preview */
    background: linear-gradient(to bottom, rgba(224,224,224,1) 2%,rgba(63,63,63,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#3f3f3f',GradientType=0 ); /* IE6-9 */
                        
    height: 2000px;
    width: 100%;
    padding-top: .5px;
    padding-bottom: .5px;
}

#Tracker{
    display:block;
    width: 898px;
    height: 1705px;
    margin-right: auto;
    margin-left: auto;
}

/*=====================================================Calendars=====================================================*/

#Jersey {
    display:block;
    width: 915px;
    height: 446px;
}

#Manteca {
    display:block;
    width: 915px;
    height: 446px;
}

#Brooklyn {
    display:block;
    width: 915px;
    height: 446px;
}
                    
#Queens {
    float: left;
    display:block;
    width: 915px;
    height: 446px;
}

#Bakersfield {
    display:block;
    width: 915px;
    height: 446px;
}

/*=====================================================Maps==========================================================*/

#Map {
    
}


#map {
    height: 446px;
}

/*=====================================================Buttons=======================================================*/

#BKbuttons {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: auto;
    margin-right: auto;
}

#BKbuttons a:link, #BKbuttons a:visited {
    background-color: #e06666;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
    border: 2px solid #cc0000;
    
    border-bottom-left-radius: 30px 30px;
    border-bottom-right-radius: 30px 30px;
    border-top-left-radius: 30px 30px;
    border-top-right-radius: 30px 30px;
}

#BKbuttons a:hover, #BKbuttons a:active {
    background-color: #cc0000;
}

#Bbuttons {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: auto;
    margin-right: auto;
}

#Bbuttons a:link, #Bbuttons a:visited {
    background-color: #b4a7d6;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
    border: 2px solid #351c75;
    
    border-bottom-left-radius: 30px 30px;
    border-bottom-right-radius: 30px 30px;
    border-top-left-radius: 30px 30px;
    border-top-right-radius: 30px 30px;
}

#Bbuttons a:hover, #Bbuttons a:active {
    background-color: #351c75;
}

#Mbuttons {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: auto;
    margin-right: auto;
}

#Mbuttons a:link, #Mbuttons a:visited {
    background-color: #ffd966;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
    border: 2px solid #f1c232;
    
    border-bottom-left-radius: 30px 30px;
    border-bottom-right-radius: 30px 30px;
    border-top-left-radius: 30px 30px;
    border-top-right-radius: 30px 30px;
}

#Mbuttons a:hover, #Mbuttons a:active {
    background-color: #f1c232;
}

#Jbuttons {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: auto;
    margin-right: auto;
}

#Jbuttons a:link, #Jbuttons a:visited {
    background-color: #93c47d;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
    border: 2px solid #6aa84f;
    
    border-bottom-left-radius: 30px 30px;
    border-bottom-right-radius: 30px 30px;
    border-top-left-radius: 30px 30px;
    border-top-right-radius: 30px 30px;
}

#Jbuttons a:hover, #Jbuttons a:active {
    background-color: #6aa84f;
}

/*=====================================================Footer========================================================*/
                
footer{
    -webkit-box-shadow: 0px 11px 45px -1px rgba(0,0,0,0.69);
    -moz-box-shadow: 0px 11px 45px -1px rgba(0,0,0,0.69);
    box-shadow: 0px 11px 45px -1px rgba(0,0,0,0.69);
                         
    background-color: #333;
    width:100%;
    height: 100px;
    padding-top: .5px;
                        
    border-bottom: 2px solid #000000;
    border-top: 2px solid #000000;
}
                    
#foot {
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: 40px;
}